<% provide :title, 'Artigos' %>

<section id="presenter" class="jumbotron">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				
			</div>
		</div>
	</div>
</section>


<section id="content">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-12">
						<div class='col-md-12'>
							<ul class="breadcrumb">
								<li><%= link_to 'Rails on RS', root_path %></li>
								<li>Como Contribuir</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<h1 class="bold">Como contribuir</h1>
						<br>

						<h2 class="bold">Como contribuir para a comunidade</h2>
						<p>Primeiramente a comunidade fica muito grata com o seu interesse em 
						participar. Bom, existem várias formas de contribuir, vamos descrevê-las:</p>
						<br>

						<h2 class="bold">Hands on Code</h2>
						<p>Contribuição nos repositórios em <%= link_to 'https://github.com/railsonrs', 'https://github.com/railsonrs', target: '_blank' %></p>
						<p>Existem projetos que criamos e mantemos, e a contribuição em qualquer um deles
						é bem vinda. Você pode contribuir com código, tradução de documentação ou sugestões.</p>
						<br>

						<h2 class="bold">Criação de conteudo para <%= link_to 'http://railsonrs.org.br', '#' %></h2>
						<p>Você pode gerar conteudo pra o blog criando artigos com informações sobre o 
						universo Ruby on Rails, tutoriais e etc.</p>
						<br>

						<h2 class="bold">Divulgação dos eventos utilizando as redes sociais</h2>
						<p></p>
					</div>

					<div class="col-md-12">
						<div class="col-md-12">
							<div class="well">
								<p class="text-center">
									Acha que esse conteúdo possui erros ou 
									poderia ser aperfeiçoado? <u>Colabore!</u></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>