<% provide :title, 'Home' %>

<section id="presenter" class="jumbotron">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

			</div>
		</div>
	</div>
</section>

<section id="content">
	<div class="container">
		<div class="row">
			<div class='col-md-12'>
				<ul class="breadcrumb">
					<li><%= link_to 'Rails on RS', root_path %></li>
					<li> Grupo de Desenvolvedores Rails do Rio Grande do Sul </li>
				</ul>
			</div>

			<div class="col-md-12">
				<div class="row">
					<div class="col-md-4">
						<h2 class="bold">Pŕoximos Eventos</h2>
						<br>

						<div class="well">
							<p class='text-center'>
								Nenhum evento encontrado.
							</p>
						</div>
					</div>
					
					<div class="col-md-4">
						<h2 class="bold">Artigos</h2>
						<br>

						<div class="well">
							<p class='text-center'>
								Nenhum artigo encontrado.
							</p>
						</div>
					</div>

					<div class="col-md-4">
						<h2 class="bold">Avisos</h2>
						<br>

						<div class="well">
							<p class='text-center'>
								Nenhum aviso encontrado.
							</p>
						</div>
					</div>

					<div class="col-md-12">
						<div class="well">
							<p class="text-center">
								Acha que esse conteúdo possui erros ou poderia ser aperfeiçoado?
								<u><%= link_to 'Colabore!', 'https://github.com/railsonrs', target: '_blank' %></u></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>