<% provide :title, 'Código de Conduta' %>

<section id="content">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul class="breadcrumb">
					<li><%= link_to 'Rails on RS', root_path %></li>
					<li><%= link_to 'Código de Conduta', '' %></li>
				</ul>

				<div class="row">
					<div class="col-md-12">
						<h1 class="bold">Código de Conduta</h1>
						<h2 class="bold">Codigo de Conduta da Comunidade de desenvolvedores<br> 
						Rails do Rio Grande do Sul</h2>

						<h3 class="bold">Versão Curta</h3>
						<br>

						<div class="well">
							<p>O <span class="bold">Rails on RS</span> está comprometido a ser uma
							comunidade livre de descriminação para todos, independente de gênero, identidade e expressão de gênero, orientação sexual, deficiencia,
							aparência física, raça, idade, origem ou religião.</p>
						</div>
						<br>

						<h3 class="bold">Versão Longa</h3>
						<br>

						<p>Embora o desejo seja de que isso não venha a ser necessário caso seja preciso a organização ajudará os participantes no contato com a segurança do
						local ou com a policia ou mesmo providenciando escolta. Faremos o possivel
						para que todos sintam-se confortáveis e seguros.</p>

						<p>Contamos com sua compreensão e participação.</p>
						<ul>
							<li><p><span class='bold'>Contato do Rails on RS</span>: 
							ola@railsonrs.org.br</p></li>
							<li><p><span class="bold">Policia</span>: 190</p></li>
							<li><p><span class="bold">Bombeiros</span>: 193</p></li>
							<li><p><span class='bold'>Central de Atendimento à Mulher</span>: 180</p></li>
							<li><p><span class='bold'>SAMU</span>: 192</p></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>