<% provide :title, 'Código de Conduta' %>

<section id="content">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul class="breadcrumb">
					<li><%= link_to 'Rails on RS', root_path %></li>
					<li><%= link_to 'Código de Conduta', '' %></li>
				</ul>

				<div class="row">
					<div class="col-md-12">
						<h1 class="bold">Código de Conduta</h1>
						<h2 class="bold">Codigo de Conduta da Comunidade de desenvolvedores<br> 
						Rails do Rio Grande do Sul</h2>

						<h3 class="bold">Versão Curta</h3>
						<br>

						<div class="well">
							<p>O <span class="bold">Rails on RS</span> está comprometido a ser uma
							comunidade livre de descriminação para todos, independente de gênero, identidade e expressão de gênero, orientação sexual, deficiencia, aparência física, raça, idade, origem ou religião. Não será tolerado, sob nenhuma circunstância, o constrangimento de participantes em eventos e canais
							organizados pela comunidade. Linguagem e/ou exposição de imagens sexuais ou de cunho discriminatório não serão apropriadas no âmbito de nossa comunidade - isto inclui os eventos
							,as palestras, apresentações, exemplos ou demonstrações, site, emails, chat e quaisquer outro
							canal da comunidade, Os participantes que violarem essa regra podem ser repreendidos ou expulsos
							do canal e/ou evento sem direito a reembolso, a critério da organização. Entendemos como assédio
							ou constrangimento:</p>

							<ul>
								<li>Comentários que reforçam estruturas sociais de denominação, sejam relacionados a genêro,
								identidade e expressão de gênero, orientação sexual, deficiência, aparencia física, raça, idade, origem, ou religião;</li>
								<li>Imagens sexuais em espaços públicos;</li>
								<li>Comentários de cunho sexual;</li>
								<li>Intimidação intencional;</li>
								<li>Perseguição;</li>
								<li>Obtenção de som e imagem constrangedores;</li>
								<li>interrupção continuada e intencional de palestras e/ou eventos paralelos;</li>
								<li>contato físico inapropriado; atenção sexual não solicitada;</li>
							</ul>
							<br>

							<p>Nosso código de conduta para eventos pode ser encontrado <%= link_to 'aqui', '' %>.</p>
						</div>
						<br>

						<h3 class="bold">Versão Longa</h3>
						<br>

						<p>O <span class="bold">Rails on RS</span> está comprometido a ser uma
							comunidade livre de descriminação para todos, independente de gênero, identidade e expressão de gênero, orientação sexual, deficiencia, aparência física, raça, idade, origem ou religião. Não será tolerado, sob nenhuma circunstância, o constrangimento de participantes em eventos e canais
							organizados pela comunidade. Linguagem e/ou exposição de imagens sexuais ou de cunho discriminatório não serão apropriadas no âmbito de nossa comunidade - isto inclui os eventos
							,as palestras, apresentações, exemplos ou demonstrações, site, emails, chat e quaisquer outro
							canal da comunidade, Os participantes que violarem essa regra podem ser repreendidos ou expulsos
							do canal e/ou evento sem direito a reembolso, a critério da organização. Entendemos como assédio
							ou constrangimento:</p>

							<ul>
								<li>Comentários que reforçam estruturas sociais de denominação, sejam relacionados a genêro,
								identidade e expressão de gênero, orientação sexual, deficiência, aparencia física, raça, idade, origem, ou religião;</li>
								<li>Imagens sexuais em espaços públicos;</li>
								<li>Comentários de cunho sexual;</li>
								<li>Intimidação intencional;</li>
								<li>Perseguição;</li>
								<li>Obtenção de som e imagem constrangedores;</li>
								<li>interrupção continuada e intencional de palestras e/ou eventos paralelos;</li>
								<li>contato físico inapropriado; atenção sexual não solicitada;</li>
							</ul>
						
						<br>
						<p>Os participantes solicitados a parar com o comportamento inadequado devem faze-lo de imediato.</p>
						<p>Representantes e mantenedores, patrocinadores, parceiros, fornecedores e quaisquer atividades similares
						estão igualmente sujeitos às mesmas regras deste código de conduta. Em especial os estandes não devem promover imagens, impressos, atividades ou qualquer outro material de cunho sexual.</p>
						<p>Se um participante apresentar comportamento constrangedor, os organizadores do evento podem tomar
						quaisquer ações a seu critério, incluindo uma advertência verbal ou mesmo a expulsão do agressor, sem
						reembolso do valor pago para participar se aplicável.</p>
						<p>Se você estiver sendo assediado(a), ou perceber alguem nesta condição, ou se tiver qualquer 
						preocupação a respeito desse tema, não deixe de contatar um dos evangelistas da comunidade imediatamente.
						As pessoas responsáveis pela organização em eventos serão apresentadas ao início do evento e podem ser facilmente identificados por camisetas e/ou crachás. Nos canais oficiais da comunidade procure um dos evangelistas da comunidade [<%= link_to 'Quem é a comunidadade', who_is_path %>]</p>
						<br>

						<p>Embora o desejo seja de que isso não venha a ser necessário caso seja preciso a organização ajudará os participantes no contato com a segurança do
						local ou com a policia ou mesmo providenciando escolta. Faremos o possivel
						para que todos sintam-se confortáveis e seguros.</p>

						<p>Contamos com sua compreensão e participação.</p>
						<ul>
							<li><p><span class='bold'>Contato do Rails on RS</span>: 
							ola@railsonrs.org.br</p></li>
							<li><p><span class="bold">Policia</span>: 190</p></li>
							<li><p><span class="bold">Bombeiros</span>: 193</p></li>
							<li><p><span class='bold'>Central de Atendimento à Mulher</span>: 180</p></li>
							<li><p><span class='bold'>SAMU</span>: 192</p></li>
						</ul>

						<p>Esperamos que todos os participantes sigam estas recomentações em todos os locais
						onde o <span class="bold">Rails on RS</span> estiver. Aproveitem saudavelmente a comunidade.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>