<%= provide :title, 'Comunidade' %>

<section id="content">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-12">
						<h1 class='bold'>A Comunidade</h1>
						<h2 class="bold">Intro</h2>
						<p>Rio Grande do Sul, é dona de uma fração incrível de vagas de TI, um mercado de
						trabalho com muitas oportunidades. Desta forma, essa megalopole possui tambem uma parcela
						enorme de desenvolvedores, alem de muitas vagas e oportunidades par ao ecossistema Rails.</p>
						<br>

						<p>Está é a principal motivação por trás da criação de um Grupo Oficial de Usuários Rails
						no Rio Grande do Sul, O Rails precisa deixar de ser visto como uma plataforma de prototipagem
						e mostrar-se como um poderoso ambiente de desenvolvimento como tal, do qual nasceram grandes
						aplicações. Para isso temos algumas missões a cumprir, que vou citar abaixo:</p>
						<ol>
							<li>Levar mais conhecimento/treinamento para os programadores iniciantes/avançados</li>
							<li>Representar o Rails e fazer a ponte entre programadores e empresas contratantes</li>
							<li>Fomentar o mercado e chamar mais atenção para a linguagem e suas capacidades</li>
						</ol>
						<br>

						<h2 class="bold">O que esperar do Rails on RS</h2>
						<p>Nossa proposta vai contar muito com a união e auxilio de todos os membros do grupo. Algumas ações ja foram definidas, porem muitas virão da comunidade e do feedback que recebemos. Para podermos então atingir os pontos citados
						anteriormente, queremos:</p>
						<ol>
							<li>Realizar eventos no estilo un-conference, ou seja iremos nos reunir em um espaço adequado, onde realizaremos uma ou duas palestras dadas por membros do grupo, previamente definidas, ou definidas por voluntários no local. Dependendo de patrocínios podemos até comer uma pizza aṕos as palestras, deixando espaço de sobra para o networking.</li>
							<li>Seguindo esta linha, em periodos menores queremos organizar eventos informais, como meetups, Nestes eventos o principal será justamente o networking e a integração dos membros.</li>
							<li>Site. Queremos potencializar o site da Rails on RS para ser um grande agradador de conhecimento do Universo Rails, proveniente dos membros do grupo
							, divulgando os blogs dos membros e gerando mais atenção para os mesmos</li>
							<li>Empregos. Trabalhando com a iniciativa RailsonRSOpen, Estamos procurando integrar em nosso site um espaço para anúncio de vagas e cadastros profissionais.</li>
						</ol>
						<br>

						<p>Este é o começo, ja estamos entrando em contato com parceiros para poder viabilizar de todas essas ações e trazer ainda mais informações ao grupo. A primeira destas parcerias já
						rendeu frutos. Nos primeiros encontros do grupo estaremos distribuindo CDs com Software da Oracle, Versões teste e versões especiais para desenvolvedores, Alem dos mais novos drivers
						Oracle para o Ruby.</p>
						<br>

						<h2 class='bold'>Missão</h2>
						<p>Promover a evolução de entusiastas da Linguaguem Ruby e do framework Rails
						por meio de eventos, palestras, conteúdo multimidia, desenvolvimento de projetos
						e treinamentos, tendo como base o bom trato com as pessoas e a qualidade de nossas
						ações.</p>
						<br>

						<h2 class='bold'>Visão</h2>
						<p>"Ser a comunidade referencia em disseminação de conhecimento, integrando desenvolvedores de todos os niveis e empresas, promovendo a inclusão, formação
						e qualificação profissional de alto nível e evangelizando o ecossistema Rails."</p>
						<br>

						<h2 class="bold">Valores</h2>
						<ul>
							<li><p>Amizade</p></li>
							<li><p>Respeito e inclusão</p></li>
							<li><p>Transparência, Honra e Confiabilidade</p></li>
							<li><p>Código Aberto</p></li>
							<li><p>Qualidade e Inovação</p></li>
							<li><p>Comunidade altruista, inclusiva, adaptativa</p></li>
						</ul>
					</div>

					<div class='col-md-12' style="margin-top: 20px;">
						<div class="col-md-12">
							<div class="well">
								<p class="text-center">
									Acha que esse conteúdo possui erros ou poderia ser aperfeiçoado?
									<u><%= link_to 'Colabore!', 'https://github.com/railsonrs', target: '_blank' %></u></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>