<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-12">
						<div class="text-center">
							<h4 class="bold">RAILS ON RS</h4>
							<p>O Site Rails on RS foi criado pela Comunidade Rails on RS</p>
							<p>O código deste site esta sob licença MIT e pode ser encontrado 
							<%= link_to 'aqui', 'https://github.com/railsonrs', target: '_blank' %></p>
							<p>O conteúdo deste site esta sob licença <%= link_to 'CC BY NC SA 4.0', 
							'https://creativecommons.org/licenses/by-nc-sa/4.0/', target: '_blank' %></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>